.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 100px;
}

body {
  background-color: hsl(0, 0%, 6%);
}

h1 {
  font-size: 4rem;
  color: whitesmoke;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-left: 2px;
  margin-right: 2px;
}

.add-button {
  background-color: hsl(125, 47%, 34%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 24%);
}

.delete-button {
  background-color: hsl(10, 58%, 48%);
}

.delete-button:hover {
  background-color: hsl(10, 58%, 42%);
}

.move-button {
  background-color: hsl(207, 53%, 46%);
}

.move-button:hover {
  background-color: hsl(207, 53%, 36%);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: whitesmoke;
  background-color: hsl(0, 0%, 12%);
}

ol {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 9%);
  margin-bottom: 10px;
  color: whitesmoke;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

span {
  padding-right: 1.3rem;
}

.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

#error-message {
  background-color: hsl(0, 0%, 9%);
  color: whitesmoke;
}

#error-message > span {
  text-align: center;
}

.closeErrorButton {
  font-size: 1rem;
  padding-top: 0.7rem;
  margin-top: 0.5rem;
  background-color: hsl(212, 58%, 48%);
}

#error-message::backdrop {
  backdrop-filter: blur(10px);
}
